name: release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Download dependencies
        run: go mod download

      - name: Setup git for integration tests
        run: |
          git config --global user.email "ci@github.com"
          git config --global user.name "GitHub CI"

      - name: Run all tests (unit + integration)
        run: go test -tags=integration ./... -count=1 -v

      - name: Precompile extension
        uses: cli/gh-extension-precompile@v2
        with:
          go_version_file: go.mod